<app-ajouterpersonnage (newPersonnage)="addPersonnage($event)"></app-ajouterpersonnage>
<app-personnageaffichage [data]= "personnages" (deletePersonnage)="deletePersonnageParent($event)" (changeTask)="changeTask($event)"></app-personnageaffichage>
