<div class="container mt-5" id="table1">
  
    <h2>Liste des personnages actifs</h2>
    
    <table class="table table-striped table-bordered table-sm" >
      <thead>
          <tr>
            <th>Nom</th>
            <th>Etat</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personnage of data">
          <td *ngIf="personnage.active == true">{{ personnage.name }}</td>
          <td *ngIf="personnage.active == true"><input type="checkbox" [checked]="personnage.active" (click)="changeState(personnage)">   &nbsp; Actif</td>
          <td *ngIf="personnage.active == true"><button (click)="deletePersonnageEnfant(personnage.id)">Supprimer le personnage</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container mt-5">
  
    <h2>Liste des personnages non-actifs</h2>
    
    <table class="table table-striped table-bordered table-sm">
      <thead>
          <tr>
            <th>Nom</th>
            <th>Etat</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personnage of data">
          <td *ngIf="personnage.active == false">{{ personnage.name }}</td>
          <td *ngIf="personnage.active == false"><input type="checkbox" [checked]="personnage.active" (click)="changeState(personnage)">   &nbsp; non-actif</td>
          <td *ngIf="personnage.active == false"><button (click)="deletePersonnageEnfant(personnage.id)">Supprimer le personnage</button></td>
        </tr>
      </tbody>
    </table>
  </div>